:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
}


/* #modal{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    display: flex;

    /* display: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inner {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
} */

#modal {
    /* Usuwamy tło modalu */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.modal-inner {
    /* Brak tła */
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    color: grey; /* Ustawienie koloru tekstu na szary */
    width: 80vw; /* Responsywna szerokość w zależności od szerokości okna */
    max-width: 380px; /* Maksymalna szerokość na większych ekranach */
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 600px) {
    .modal-inner {
        width: 90vw; /* Zwiększamy szerokość na bardzo małych ekranach */
        padding: 10px 20px; /* Dopasowanie odstępów */
    }
}

@media (min-width: 1200px) {
    .modal-inner {
        width: 50vw; /* Na większych ekranach modal będzie szerszy */
    }
}

/* .modal-inner h2{
    margin: 0;
}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;
} */


.back-arrow {
    position: absolute;
    top: 10px; /* Dostosuj odległość od góry */
    left: 10px; /* Dostosuj odległość od lewej */
    z-index: 1000; /* Ustaw wysoki z-index, aby było nad innymi elementami */
}

.back-arrow img {
    transform: scale(0.7);
    width: 10vw;
    max-width: 70px;
    height: auto;
    object-fit: cover;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.6rem;
    color: #56a5eb;
    margin-bottom: 5rem;
}


h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 2.7rem;
    margin-bottom: 4.rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb; 
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}