<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style3.css">
</head>
<body>
    <div class="box">
        <div class="title">
            <h1>Let's play</h1>
            <h3> Some informations about games and challenges, what you get from playing these games ......  what kind of challenges are there</h3>
        </div>
        
        <div class="cardss">
            
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>
                    
                <h2>Learning to self-actualise</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>Emotional management</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>Assertive communication</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>Leadership and teamwork</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>Creative and confident use of social</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>Civic values - how I build society</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            <div class="card">
                <div class="card-image">
                    <p>image of game</p>
                </div>

                <h2>My impact on the world AGENDA 2030</h2>
                <p>Każdy model auta to wiele liczb. Gabaryty, masy, pojemności silnika, baku czy bagażnika, osiągi, rozmiary opon, spełniane normy i setki innych danych. Nie sposób wszystkich zapamietac</p>
                <a href="">Play</a>
        
            </div>
            
        </div>
    </div>
</body>
</html>
